.memoryNumber {
    position: absolute;
    bottom: -0.25em;
    right: -0.5ex;
    color: white;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 .25em;
}

.memoryImageWidth {
    width: 22em;
}

.thickBorder {
    /* TODO: somehow, this applies in Firefox, but not in Chrome */
    border: 4px solid black !important;
}

.memoryName:Hover {
    cursor: pointer;
}

.submitButton:Hover {
    cursor: pointer;
}

.submitButtonClicked:Hover {
    cursor: wait !important;
}

.submitButtonDisabled:Hover {
    cursor: not-allowed !important;
}