
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.belt-color-black, .belt-color-black:hover, .belt-color-black:active, .belt-color-black > a {
    background-color: black;
    color: white;
}

.belt-color-yellow, .belt-color-yellow:hover, .belt-color-yellow:active, .belt-color-yellow > a {
    background-color: #ffd866;
    color: black;
}

.belt-color-orange, .belt-color-orange:hover, .belt-color-orange:active, .belt-color-orange > a {
    background-color: #fe964e;
    color: black;
}

.belt-color-green, .belt-color-green:hover, .belt-color-green:active, .belt-color-green > a {
    background-color: #407740;
    color: white;
}

.belt-color-blue, .belt-color-blue:hover, .belt-color-blue:active, .belt-color-blue > a {
    background-color: #2673a9;
    color: white;
}

.belt-color-brown, .belt-color-brown:hover, .belt-color-brown:active, .belt-color-brown > a {
    background-color: #8a6340;
    color: white;
}

.belt-link {
    display: block;
    cursor: pointer;
}

html, body, body > div, body > div > div {
    height: 100%;
}

body > div > div {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.footer a:hover, .footer a:active {
    color: inherit;
}

.inactive {
    opacity: .5;
}

.selectable-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo-link, .logo-link:hover, .logo-link:active {
    color: white;
    text-decoration-color: white;
}

::selection {
    background-color: #2673a9;
    color: white;
}